<form class="example-form" [formGroup]="bookForm">

  <div>
    <label>
      Name:
    </label>
    <input matInput formControlName="name" [appOnlyLetter]="true">
  </div><br>

  <div>
    <label for="author">
      Author
    </label>
    <input matInput formControlName="author" [appOnlyLetter]="true">
  </div><br>

  <div>
    <label for="price">
      Price
    </label>
    <input matInput formControlName="price">
  </div><br>

  <div>
  <button mat-raised-button (click)="onPost()">Post</button>
  <button mat-raised-button (click)="Cancel()">Cancel</button>
  </div>
</form>


<!--
  <div class="a">
  <form [formGroup]="bookForm">

  <div>
    <label>
      Name:
    </label>
    <input matInput type="text" id="name" formControlName="name">
  </div><br>

  <div>
    <label for="author">
      Author
    </label>
    <input matInput type="text" id="author" formControlName="author">
  </div><br>

  <div>
    <label for="price">
      Price
    </label>
    <input matInput type="text" id="price" formControlName="price">
  </div><br>

  <button class="button" type="submit" (click)="onPost()">Post</button>
  <button class="button" type="submit" (click)="Cancel()">Cancel</button>
</form>

</div>
-->