
  div {
    margin-left: 25%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50%;
  }

  .has-error {
    border: 1px solid rgb(78, 78, 148)
}

span {
  color:rgb(78, 78, 148)
}